$red : red;
$orange : orange;
$yellow : yellow;
$blue : blue;

@mixin container($size) {
    $calculated : 30px * $size;
    width: $calculated;
    height: $calculated;
}

* {
    padding:0;
    margin:0;
    box-sizing:Border-box;
    word-break: keep-all;
}